body{
    background: linear-gradient(to right, rgb(254, 240, 138), rgb(187, 247, 208), rgb(34, 197, 94));
}

.myname{
    font-size: 500px;
}

.bg{
    background: linear-gradient(to right, rgb(202, 138, 4), rgb(220, 38, 38));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control{
    width: 50% !important;
}
.r{
    border-radius: 20px;
    
}

.h{
    height: 70vh;
}

label{
    font-size: 20px;
    color: white;
}
input{
    margin-top: 20px !important;
}
textarea{
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}
.mar{
    margin-top: 50px !important;
}

.btnss{
    
    padding: 10px 30px;
    border-radius: 10px;
   background-color: green;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.btnss:hover{
   /* background-color: rgb(1, 17, 1); */
    transition: 0.5s ease-in-out;
}
.mtt{
    margin-top: 30px;
}
